:root{
    --desjardins_green: #00874e;
    --facebook_blue: #4267B2;
    --twitter_blue: #1DA1F2;
}

/* ***************
***** Header *****
*************** */

/* ***************
***** NAV *****
*************** */

nav div {
    background-color: var(--facebook_blue);
    display: flex;
    flex-direction: row;
}
nav div p {
    /* padding: 2% 0% 0% 2%; */
    /* margin: 0%; */
    color: white;
    width: 0%;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    /* border: 2px solid red; */
    padding: 5%;
    background-color: var(--desjardins_green);
    /* margin: 10%; */
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}



/* ***************
***** Footer *****
*************** */
footer{
    background-color: var(--facebook_blue);
    color: white;
    display: flex;
    flex-direction: column;
}

footer div.foot_pad{
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
}

footer div.foot_pad img{
    width: 5%;
    height: 5%;
}

footer div.foot_pad div ul li a, footer div.foot_pad div ul li a:visited{
    text-decoration: none;
    color: white;
}

footer div.foot_pad div{
    width: 20%;
    /* border: 5px solid green; */
    margin: 2% 5% 0% 0%;
}

footer div#screen{
    width: 100%;
    font-size:x-large;
    /* border: 5px solid red; */
    margin: 2% 0% 1% 0%;
}

footer div#screen span{
    font-weight: bold;
    text-align: right;
}

footer div#table{
    /* background-color: black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
}


footer div h3{
    font-weight: bold;
}

footer div ul, footer div ul li{
    list-style-type: none;
    padding: 0% 3% 6% 0%;
}

footer div#legal{
    background-color: darkblue;
}

footer div#legal span{
    font-size:smaller;
    display: inline-block;
    padding: 1% 0% 1% 5%;
}