:root{
    --desjardins_green: #00874e;
    --facebook_blue: #4267B2;
    --twitter_blue: #1DA1F2;
}

/* ***************
***** NAV *****
*************** */

nav div {
    background-color: var(--facebook_blue);
    display: flex;
    flex-direction: row;
}
nav div span {
    padding: 0%;
    margin: 0%;
    color: white;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    border: 2px solid red;
    padding: 0%;
    background-color: var(--desjardins_green);
    margin: 0%;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}



/* ***************
***** Footer *****
*************** */
footer{
    background-color: var(--desjardins_green);
    display: flex;
    flex-direction: row;
}